In [108]:
#imports

import pandas as pd

#  1. Data loading

In [109]:
file_path = '41586_2008_BFnature06949_MOESM31_ESM.xls'

# read data from each sheet into separate DataFrames
df_new_co2_data = pd.read_excel(file_path, sheet_name='1.  new CO2 data')
df_vostok_td_dome_c = pd.read_excel(file_path, sheet_name='2.  Vostok-TD-Dome C')
df_composite_co2 = pd.read_excel(file_path, sheet_name='3.  Composite CO2')

In [110]:
print("1. new CO2 data:")
print(df_new_co2_data.head(15))

1. new CO2 data:
   Dome C (611-800 kyr BP)       Unnamed: 1  Unnamed: 2    Unnamed: 3
0       Lüthi et al. (sub)              NaN         NaN           NaN  \
1                      NaN              NaN         NaN           NaN
2                      NaN              NaN         NaN           NaN
3                      NaN              NaN         NaN           NaN
4       University of Bern              NaN         NaN           NaN
5                Depth (m)  EDC3_gas_a (yr)  CO2 (ppmv)  sigma (ppmv)
6                  3026.58           611269       257.8           2.1
7                  3030.97           616164       252.6           0.6
8                  3036.44           623109       243.3           2.8
9                  3040.87           630183       204.4           0.9
10                 3043.07           635364         195           1.5
11                 3055.18           658404       187.5           1.8
12                 3056.25           659983       185.6           1.1
13                 3057.36           661563       192.1             1
14                 3058.47           663133         192           2.1

          Unnamed: 4       Unnamed: 5  Unnamed: 6
0                NaN              NaN         NaN
1                NaN              NaN         NaN
2                NaN              NaN         NaN
3                NaN              NaN         NaN
4   LGGE in Grenoble              NaN         NaN
5          Depth (m)  EDC3_gas_a (yr)  CO2 (ppmv)
6            3061.71           667435       178.5
7            3063.98           670124         189
8            3085.78           688035         234
9            3086.88           688751       235.4
10           3087.98           689444         241
11           3089.08           690155         235
12           3091.28           691524       235.9
13           3093.48           692857       236.3
14           3120.01           715603       223.8

In [111]:
print("2. Vostok-TD-Dome C:")
print(df_vostok_td_dome_c.head())

2. Vostok-TD-Dome C:
   Dome C (0-22 kyr BP) Unnamed: 1 Unnamed: 2 Unnamed: 3
0  Monnin et al. (2001)        NaN        NaN        NaN  \
1                   NaN        NaN        NaN        NaN
2                   NaN        NaN        NaN        NaN
3          measured at:        NaN        NaN        NaN
4    University of Bern        NaN        NaN        NaN

   Vostok (0-440 kyr BP) Unnamed: 5 Unnamed: 6 Taylor Dome (19-63 kyr BP)
0    Petit et al. (1999)        NaN        NaN   Indermühle et al. (2000)  \
1    Pepin et al. (2001)        NaN        NaN                        NaN
2  Raynaud et al. (2005)        NaN        NaN                        NaN
3                    NaN        NaN        NaN                        NaN
4       LGGE in Grenoble        NaN        NaN         University of Bern

  Unnamed: 8 Unnamed: 9  ...       Unnamed: 15 Unnamed: 16 Unnamed: 17
0        NaN        NaN  ...               NaN         NaN         NaN  \
1        NaN        NaN  ...               NaN         NaN         NaN
2        NaN        NaN  ...               NaN         NaN         NaN
3        NaN        NaN  ...               NaN         NaN         NaN
4        NaN        NaN  ...  LGGE in Grenoble         NaN         NaN

  Dome C (611-800 kyr BP) Unnamed: 19 Unnamed: 20 Unnamed: 21
0      Lüthi et al. (sub)         NaN         NaN         NaN  \
1                     NaN         NaN         NaN         NaN
2                     NaN         NaN         NaN         NaN
3                     NaN         NaN         NaN         NaN
4      University of Bern         NaN         NaN         NaN

        Unnamed: 22 Unnamed: 23 Unnamed: 24
0               NaN         NaN         NaN
1               NaN         NaN         NaN
2               NaN         NaN         NaN
3               NaN         NaN         NaN
4  LGGE in Grenoble         NaN         NaN

[5 rows x 25 columns]

In [112]:
print("3. Composite CO2:")
print(df_composite_co2.head())

3. Composite CO2:
  Composite CO2 record (0-800 kyr BP)
0                        0-22 kyr BP:  \
1                      22-393 kyr BP:
2                     393-416 kyr BP:
3                     416-664 kyr BP:
4                     664-800 kyr BP:

                                          Unnamed: 1
0  Dome C (Monnin et al. 2001) measured at Univer...
1  Vostok (Petit et al. 1999; Pepin et al. 2001; ...
2  Dome C (Siegenthaler et al. 2005) measured at ...
3  Dome C (Siegenthaler et al. 2005)  measured at...
4  Dome C (Luethi et al. (sub)) measured at Unive...

Files have lots of extra rows with information that should be cleaned or divided into new dataFrames.

### 1.2 Creating extra DataFrames to store data from files

In [113]:


df_new_co2_data = pd.read_excel(file_path, sheet_name='1.  new CO2 data', skiprows=3, header=3)

df_new_co2_data

,Depth (m),EDC3_gas_a (yr),CO2 (ppmv),sigma (ppmv),Depth (m).1,EDC3_gas_a (yr).1,CO2 (ppmv).1
0,3026.58,611269,257.8,2.1,3061.71,667435.0,178.5
1,3030.97,616164,252.6,0.6,3063.98,670124.0,189.0
2,3036.44,623109,243.3,2.8,3085.78,688035.0,234.0
3,3040.87,630183,204.4,0.9,3086.88,688751.0,235.4
4,3043.07,635364,195.0,1.5,3087.98,689444.0,241.0
...,...,...,...,...,...,...,...
242,3187.87,794608,199.4,1.7,NaN,NaN,NaN
243,3188.23,795202,195.2,2.0,NaN,NaN,NaN
244,3188.98,796467,189.3,2.1,NaN,NaN,NaN
245,3189.33,797099,188.4,1.4,NaN,NaN,NaN
246,3190.08,798512,191.0,2.2,NaN,NaN,NaN

In [114]:
# extract the relevant columns for 'University of Bern'
df_bern = df_new_co2_data.iloc[:, :4].copy()
df_bern.columns = pd.MultiIndex.from_product([['University of Bern'], df_bern.columns])

df_bern.head()

  University of Bern
           Depth (m) EDC3_gas_a (yr) CO2 (ppmv) sigma (ppmv)
0            3026.58          611269      257.8          2.1
1            3030.97          616164      252.6          0.6
2            3036.44          623109      243.3          2.8
3            3040.87          630183      204.4          0.9
4            3043.07          635364      195.0          1.5

In [135]:
df_bern.to_csv('df_bern.csv', index=False)

In [115]:
# extract the relevant columns for 'LGGE in Grenoble'
df_grenoble = df_new_co2_data.iloc[:, 4:].copy()
df_grenoble.columns = pd.MultiIndex.from_product([['LGGE in Grenoble'], df_grenoble.columns])

df_grenoble.head()

  LGGE in Grenoble
       Depth (m).1 EDC3_gas_a (yr).1 CO2 (ppmv).1
0          3061.71          667435.0        178.5
1          3063.98          670124.0        189.0
2          3085.78          688035.0        234.0
3          3086.88          688751.0        235.4
4          3087.98          689444.0        241.0

In [ ]:
df_grenoble.to_csv('df_grenoble.csv', index=False)

### page 2

In [116]:
df_vostok_td_dome_c = pd.read_excel(file_path, sheet_name='2.  Vostok-TD-Dome C', skiprows=3, header=3)
df_vostok_td_dome_c

,Depth (m),EDC3_gas_a (yr),CO2 (ppmv),sigma (ppmv),Depth (m).1,EDC3_gas_a (yr).1,CO2 (ppmv).1,Depth (m).2,tentatively synchronized on EDC3_gas_a (yr),CO2 (ppmv).2,...,Depth (m).4,EDC3_gas_a (yr).3,CO2 (ppmv).4,Depth (m).5,EDC3_gas_a (yr).4,CO2 (ppmv).5,sigma (ppmv).3,Depth (m).6,EDC3_gas_a (yr).5,CO2 (ppmv).6
0,102.83,137.0,280.4,1.8,149.10,2690,284.7,380.82,18906.0,190.5,...,2700.77,392544.0,259.5,3026.58,611269.0,257.8,2.1,3061.71,667435.0,178.5
1,106.89,268.0,274.9,0.7,173.10,3897,272.7,382.42,23379.0,189.1,...,2702.97,393579.0,273.6,3030.97,616164.0,252.6,0.6,3063.98,670124.0,189.0
2,107.20,279.0,277.9,0.7,177.40,4124,268.1,382.76,24011.0,189.0,...,2705.17,394560.0,260.7,3036.44,623109.0,243.3,2.8,3085.78,688035.0,234.0
3,110.25,395.0,279.1,1.3,228.60,6735,262.2,383.54,25337.0,187.7,...,2713.97,398086.0,276.3,3040.87,630183.0,204.4,0.9,3086.88,688751.0,235.4
4,110.50,404.0,281.9,1.1,250.30,7873,254.5,385.33,27507.0,195.2,...,2718.37,399722.0,277.1,3043.07,635364.0,195.0,1.5,3087.98,689444.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,NaN,NaN,NaN,NaN,3340.39,428394,229.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,NaN,NaN,NaN,3343.39,433925,199.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,NaN,NaN,NaN,NaN,3346.51,437580,201.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,NaN,NaN,NaN,3346.56,437601,207.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,3349.51,438986,205.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df_vostok_td_dome_c.to_csv('df_vostok_td_dome_c.csv', index=False)

In [117]:
# Extract 'Dome C (0-22 kyr BP)' for 'University of Bern'
df_dome_c_0_22_bern = df_vostok_td_dome_c.iloc[:, 0:4].copy()
df_dome_c_0_22_bern.columns = pd.MultiIndex.from_product([['dome_c_0-22_bern'], df_dome_c_0_22_bern.columns])
df_dome_c_0_22_bern

    dome_c_0-22_bern
           Depth (m) EDC3_gas_a (yr) CO2 (ppmv) sigma (ppmv)
0             102.83           137.0      280.4          1.8
1             106.89           268.0      274.9          0.7
2             107.20           279.0      277.9          0.7
3             110.25           395.0      279.1          1.3
4             110.50           404.0      281.9          1.1
..               ...             ...        ...          ...
367              NaN             NaN        NaN          NaN
368              NaN             NaN        NaN          NaN
369              NaN             NaN        NaN          NaN
370              NaN             NaN        NaN          NaN
371              NaN             NaN        NaN          NaN

[372 rows x 4 columns]

In [118]:
# Extract 'Vostok (0-440 kyr BP)' for 'LGGE in Grenoble'
df_vostok_0_440_grenoble = df_vostok_td_dome_c.iloc[:, 4:7].copy()
df_vostok_0_440_grenoble.columns = pd.MultiIndex.from_product([['vostok_0-440_grenoble'], df_vostok_0_440_grenoble.columns])
df_vostok_0_440_grenoble

    vostok_0-440_grenoble
              Depth (m).1 EDC3_gas_a (yr).1 CO2 (ppmv).1
0                  149.10              2690        284.7
1                  173.10              3897        272.7
2                  177.40              4124        268.1
3                  228.60              6735        262.2
4                  250.30              7873        254.5
..                    ...               ...          ...
367               3340.39            428394        229.7
368               3343.39            433925        199.0
369               3346.51            437580        201.5
370               3346.56            437601        207.8
371               3349.51            438986        205.9

[372 rows x 3 columns]

In [119]:
# Extract 'Taylor Dome (19-63 kyr BP)' for 'University of Bern'
df_taylor_19_63_bern = df_vostok_td_dome_c.iloc[:, 7:11].copy()
df_taylor_19_63_bern.columns = pd.MultiIndex.from_product([['taylor_19-63_bern'], df_taylor_19_63_bern.columns])
df_taylor_19_63_bern

    taylor_19-63_bern
          Depth (m).2 tentatively synchronized on EDC3_gas_a (yr)
0              380.82                                     18906.0  \
1              382.42                                     23379.0
2              382.76                                     24011.0
3              383.54                                     25337.0
4              385.33                                     27507.0
..                ...                                         ...
367               NaN                                         NaN
368               NaN                                         NaN
369               NaN                                         NaN
370               NaN                                         NaN
371               NaN                                         NaN


    CO2 (ppmv).2 sigma (ppmv).1
0          190.5            1.0
1          189.1            0.5
2          189.0            1.4
3          187.7            1.0
4          195.2            0.5
..           ...            ...
367          NaN            NaN
368          NaN            NaN
369          NaN            NaN
370          NaN            NaN
371          NaN            NaN

[372 rows x 4 columns]

In [120]:
# Extract 'Dome C (393-664 kyr BP)' for 'University of Bern'
df_dome_c_393_664_bern = df_vostok_td_dome_c.iloc[:, 11:15].copy()
df_dome_c_393_664_bern.columns = pd.MultiIndex.from_product([['dome_c_393-664_bern'], df_dome_c_393_664_bern.columns])
df_dome_c_393_664_bern

    dome_c_393-664_bern
            Depth (m).3 EDC3_gas_a (yr).2 CO2 (ppmv).3 sigma (ppmv).2
0               2761.85          415717.0        276.4            1.6
1               2762.89          416193.0        271.7            1.2
2               2765.08          417191.0        273.4            1.5
3               2766.18          417698.0        271.8            1.7
4               2767.33          418245.0        274.6            1.8
..                  ...               ...          ...            ...
367                 NaN               NaN          NaN            NaN
368                 NaN               NaN          NaN            NaN
369                 NaN               NaN          NaN            NaN
370                 NaN               NaN          NaN            NaN
371                 NaN               NaN          NaN            NaN

[372 rows x 4 columns]

In [121]:
# Extract 'Dome C (393-664 kyr BP)' for 'LGGE in Grenoble'
df_dome_c_393_664_grenoble = df_vostok_td_dome_c.iloc[:, 15:18].copy()
df_dome_c_393_664_grenoble.columns = pd.MultiIndex.from_product([['dome_c_393-664_grenoble'], df_dome_c_393_664_grenoble.columns])
df_dome_c_393_664_grenoble

    dome_c_393-664_grenoble
                Depth (m).4 EDC3_gas_a (yr).3 CO2 (ppmv).4
0                   2700.77          392544.0        259.5
1                   2702.97          393579.0        273.6
2                   2705.17          394560.0        260.7
3                   2713.97          398086.0        276.3
4                   2718.37          399722.0        277.1
..                      ...               ...          ...
367                     NaN               NaN          NaN
368                     NaN               NaN          NaN
369                     NaN               NaN          NaN
370                     NaN               NaN          NaN
371                     NaN               NaN          NaN

[372 rows x 3 columns]

In [122]:
# Extract 'Dome C (611-800 kyr BP)' for 'University of Bern'
df_dome_c_611_800_bern = df_vostok_td_dome_c.iloc[:, 18:22].copy()
df_dome_c_611_800_bern.columns = pd.MultiIndex.from_product([['dome_c_611-800_bern'], df_dome_c_611_800_bern.columns])
df_dome_c_611_800_bern

    dome_c_611-800_bern
            Depth (m).5 EDC3_gas_a (yr).4 CO2 (ppmv).5 sigma (ppmv).3
0               3026.58          611269.0        257.8            2.1
1               3030.97          616164.0        252.6            0.6
2               3036.44          623109.0        243.3            2.8
3               3040.87          630183.0        204.4            0.9
4               3043.07          635364.0        195.0            1.5
..                  ...               ...          ...            ...
367                 NaN               NaN          NaN            NaN
368                 NaN               NaN          NaN            NaN
369                 NaN               NaN          NaN            NaN
370                 NaN               NaN          NaN            NaN
371                 NaN               NaN          NaN            NaN

[372 rows x 4 columns]

In [123]:
# Extract 'Dome C (611-800 kyr BP)' for 'LGGE in Grenoble'
df_dome_c_611_800_grenoble = df_vostok_td_dome_c.iloc[:, 22:25].copy()
df_dome_c_611_800_grenoble.columns = pd.MultiIndex.from_product([['dome_c_611-800_grenoble'], df_dome_c_611_800_grenoble.columns])
df_dome_c_611_800_grenoble

    dome_c_611-800_grenoble
                Depth (m).6 EDC3_gas_a (yr).5 CO2 (ppmv).6
0                   3061.71          667435.0        178.5
1                   3063.98          670124.0        189.0
2                   3085.78          688035.0        234.0
3                   3086.88          688751.0        235.4
4                   3087.98          689444.0        241.0
..                      ...               ...          ...
367                     NaN               NaN          NaN
368                     NaN               NaN          NaN
369                     NaN               NaN          NaN
370                     NaN               NaN          NaN
371                     NaN               NaN          NaN

[372 rows x 3 columns]

In [133]:

# Fuse and analyse data from various data sources and format fused data set as a pandas dataframe and export to csv and json formats

df_dome_c_0_22_bern.to_csv('df_dome_c_0_22_bern', index=False)
df_vostok_0_440_grenoble.to_csv('df_vostok_0_440_grenoble', index=False)
df_taylor_19_63_bern.to_csv('df_taylor_19_63_bern', index=False)
df_dome_c_393_664_bern.to_csv('df_dome_c_393_664_bern', index=False)
df_dome_c_393_664_grenoble.to_csv('df_dome_c_393_664_grenoble', index=False)

df_dome_c_611_800_bern.to_csv('df_dome_c_611_800_bern', index=False)

df_dome_c_611_800_grenoble.to_csv('df_dome_c_611_800_grenoble', index=False)

### page 3

In [124]:
# Extract two columns from the DataFrame
df_composite_co2_subset = df_composite_co2.iloc[:, 0:2].copy()


df_composite_co2_subset.head()

,Composite CO2 record (0-800 kyr BP),Unnamed: 1
0,0-22 kyr BP:,Dome C (Monnin et al. 2001) measured at Univer...
1,22-393 kyr BP:,Vostok (Petit et al. 1999; Pepin et al. 2001; ...
2,393-416 kyr BP:,Dome C (Siegenthaler et al. 2005) measured at ...
3,416-664 kyr BP:,Dome C (Siegenthaler et al. 2005) measured at...
4,664-800 kyr BP:,Dome C (Luethi et al. (sub)) measured at Unive...

In [125]:
df_composite_co2 = pd.read_excel(file_path, sheet_name='3.  Composite CO2', skiprows=2, header=4)
df_composite_co2

      EDC3_gas_a (yr)  CO2 (ppmv)
0                 137       280.4
1                 268       274.9
2                 279       277.9
3                 395       279.1
4                 404       281.9
...               ...         ...
1091           794608       199.4
1092           795202       195.2
1093           796467       189.3
1094           797099       188.4
1095           798512       191.0

[1096 rows x 2 columns]

In [132]:
df_composite_co2.to_csv('df_composite_co2', index=False)

### source file : epicaDC.deuttemp.EDC3-AICC.xls

In [126]:
df_epicaDC = pd.read_excel('epicaDC.deuttemp.EDC3-AICC.xls', sheet_name='epicaDC.deuttemp.EDC3-AICC.txt', header=0)

df_epicaDC

,bag,ztop,EDC3béta,AICC2012,deutfinal,temp,acc-EDC3beta
0,1,0.00,-50.00000,-55.000000,NaN,218.3,3.105321
1,2,0.55,-43.55977,-50.513333,NaN,218.3,3.104805
2,3,1.10,-37.44019,-46.026667,NaN,218.3,3.104404
3,4,1.65,-31.64156,-41.540000,NaN,218.3,3.104025
4,5,2.20,-24.55278,-34.516667,NaN,218.3,3.103453
...,...,...,...,...,...,...,...
5814,5815,3197.70,816871.60000,817562.000000,-432.2,211.0,1.529000
5815,5816,3198.25,817693.60000,818631.000000,-431.4,211.2,1.548000
5816,5817,3198.80,818505.50000,819700.000000,-430.3,211.3,1.576000
5817,5818,3199.35,819303.10000,820769.000000,-429.8,211.4,1.589000
5818,5819,3199.90,820093.90000,821838.000000,-430.0,211.4,1.583000

In [131]:
df_epicaDC.to_csv('df_epicaDC.csv', index=False)

### source file : grl52461-sup-0003-supplementary.xls

Composite of atmospheric CO2 records from Antarctic ice cores

Reference:
Bereiter et al. (2014), Revision of the EPICA Dome C CO2 record from 800 to 600 kyr before present, Geophysical Research Letters, doi: 10.1002/2014GL061957.

This new version of CO2 composite replaces the old version of Lüthi et al. (2008), which contains the analytical bias described in the article mentioned above and lower quality data and many other sections.
For details about the improvements relative to the previous version see supplementary information of the main article.
For detailed references of all records collected in this file also refer to the supplemetary information of the main article.
For latest anthropogenic data refer to NOAA/Mauna Loa record.
Age unit is in years before present (yr BP) whereas present refers to 1950.

Note, not all records shown in sheet "all records" are part of the composite. 
If millennial scale or smaller details of the composite are studied, we recommend to look into all records available for that period and not only in the composite.

In [ ]:

df_all_records = pd.read_excel('grl52461-sup-0003-supplementary.xls', sheet_name='all records', header=0)
df_all_records

### source file : LongTermTemperatures_1900-2022_annual.csv

In [129]:
irish_met_data_file_path = 'LongTermTemperatures_1900-2022_annual.csv'

# Read Irish meteorological data from the CSV file
df_irish_met_data = pd.read_csv(irish_met_data_file_path)


df_irish_met_data.head()

   year  Annual
0  2022    10.9
1  2021    10.5
2  2020    10.4
3  2019    10.5
4  2018    10.3